.jobs{
    display: flex;
    margin: 0 25%;
    flex-direction: column;
    justify-content: center;
}

.jobs__card{
    margin: 1em 0;
}

.jobs__details{
    display: flex;
    margin-left: 1.6em;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2em;
}

.jobs__title, .jobs__job-name{
    font-size: 20px;
    font-weight: 500;
    color: var(--grey);
    margin: 1em;
}

.jobs__job-name{
    font-size: 18px;
    margin-left: 1.5em;
}

span{
    margin-right: 1em;
}
